extends layout

block content
	h4 Send message to #{name}
	form(role='form'
		method='post')
		input(type='hidden'
			name='tags'
			value='#{tags}')
		input(type='hidden'
			name='registrationType'
			value='#{registrationType}')
		input(class='form-control'
			type='text'
			name='text'
			id='text'
			value='#{message}')
		input(type='submit'
			value='Send'
			style='margin: 15px 0 0 0')
	div
		a(href='/push') Back to list
		