@model VideoSharing.DataAccess.Model.VideoElement

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <fieldset>
            <legend>Inforamtion</legend>

            @Html.ValidationSummary(false, "", new {@class = "text-danger"})

            <div class="form-group">
                @Html.LabelFor(model => model.Title, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Title, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Title, "", new {@class = "text-danger"})
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.IsPublic, new {@class = "control-label col-md-2"})
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.IsPublic)
                        @Html.ValidationMessageFor(model => model.IsPublic, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Video</legend>

            <div class="form-group">
                <label class="control-label col-md-2">Upload Video</label>
                <div class="col-md-10">
                    <div>
                        <input type="file" id="input_video_file" value="" accept="video/*"/>
                        <br>
                        <input type="button" id="button_upload" value="Upload"/>
                    </div>
                    <br>
                    <div id="progressBar" style="background-color: grey; height: 20px; width: 50%;"></div>
                    <br>
                    <label id="statusMessage"></label>
                    @Html.HiddenFor(m => m.AssetId)
                </div>
            </div>
        </fieldset>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input id="button_create" type="submit" value="Create" class="btn btn-default" disabled="true"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts
{
    <script src="~/Scripts/chunked-uploader.js"></script>
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        $(function() {

        })
    </script>
}